.toc {
	border: 1px solid #ddd;
	border-radius: 5px;
}
.toc-title {
	cursor: pointer;
	user-select: none;
	font-size: 1.1em;
	padding: .5em 1em;
	border-radius: 5px;
	background-image: url(./toc-off.png);
	background-position: 98.5% center;
	background-repeat: no-repeat;
	background-size: .9em;
}
.toc-content {
	display: none;
}
