/* Modified from CSS code of Typecho's link-box*/

html {
	--img-size: 150px;
}

@media (max-width: 520px) {
	html {
		--img-size: calc(50% - 22.4px) !important;
	}
}

.link-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}
.link-box {
	display: inline-block;
	color: transparent;
	width: var(--img-size);
	margin: 0 11.2px 25px;
	text-decoration: none;
	box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.1);
	transition: all .3s;
}
.link-box:hover {
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.15);
	transform: translateY(-5px);
}
.link-box .avatar {
	max-width: 100%;
	transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}
.link-box .nickname {
	color: grey;
	margin: 15px 0;
	font-size: 1.3em;
	text-align: center;
	overflow: hidden;
	outline: none;
	border: none;
}
