/* Modified from CSS code of Typecho's link-box*/

html {
	--img-size: 200px;
}

.link-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}
.link-box {
	display: inline-block;
	color: transparent;
	width: var(--img-size);
	margin: 0 .7rem 1.5rem;
	text-decoration: none;
	box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.1);
	transition: all .3s;
}
.link-box:hover {
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.15);
	transform: translateY(-0.3rem);
}
.link-box .avatar {
	width: 100%;
	max-width: 100%;
	max-height: var(--img-size);
	transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}
.link-box .nickname {
	color: grey;
	margin: 23px 0;
	font-size: 1.7em;
	overflow: hidden;
	outline: none;
	border: none;
	text-align: center;
}
