/* Modified from CSS code of Typecho's link-box*/

html {
	--img-size: 150px;
}

@media (max-width: 520px) {
	html {
		--img-size: calc(50vw - 22.4px) !important;
	}
}

.link-boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.link-box {
	display: inline-block;
	width: var(--img-size);
	color: transparent;
	margin: 0 11.2px 25px;
	text-decoration: none;
	box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.1);
	transition: all .3s;
}
.link-box:hover {
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.15);
	transform: translateY(-5px);
}
.link-box .avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--img-size);
}
.link-box .avatar img {
	max-width: 100%;
	max-height: 100%;
}
.link-box .nickname {
	color: grey;
	margin: 15px 0;
	font-size: 1.3em;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
